<!DOCTYPE html>
<html>
<head>
	<title>
		</title>
		<link rel="stylesheet" type="text/css" href="mijares.css">
</head>
<body>
	<div id="headerId"> 
		<img src="icon.jpg" width="150" height="40">
		<a href="inicio.html" style="left:200px;top:10px;position:absolute;width:8;height:10;color:black;text-decoration: none;">Inicio</a>

		<a href="Semblanza.html" style="left:280px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Semblanza</a>

		<a href="Centro.html" style="left:387px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Centro Augusto Mijares</a>

		<a href="Proyectos.html" style="left:587px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;"> Proyectos</a>

		<a href="Eventos.html" style="left:687px;top:10px;position:absolute;width:80%;text-decoration:none;color:blue;">Events</a>

		<a href="Videos.html" style="left:787px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Videos</a>

		<a href="Equipo.html" style="left:887px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Equipo</a>

		<a href="Incio_De_Session.html" style="left:987px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Inicio De Session 
		</a>

		<a href="http://vxg8753.uta.cloud/" style="left:1130px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Blog</a>

		<a href="Register.html" style="left:1187px;top:10px;position:absolute;width:80%;text-decoration:none;color:black;">Registro</a>
	</div>

	<div id="scrollDiv">

		<p style="position:absolute;left:300px;top:100px;color:#6059f6;font-size:40px;
		font-family: Roboto;">
			<b style="left:300px;top:100px;color:#6059f6;font-size:40px;
		font-family: Roboto;">MISIÓN 
	</b> 
	</p>
		<p style="position: absolute;top:180px;font-family: Roboto;
font-size: 15px; right:50%;
font-weight: 400; left:12px;
line-height: 1.667;color:grey">
El CENTRO AUGUSTO MIJARES es una asociación civil sin fines de lucro que contribuye con el desarrollo humano, mediante la generación y difusión de información, la formación extraescolar, promoviendo educación de calidad, asistencia técnica para mejorar el desempeño de organizaciones y el impulso de iniciativas de responsabilidad social y voluntariado, con el propósito de lograr la formación de capital social y el desarrollo sustentable de la comunidad.
	</p>

	<p style="position:absolute;left:1000px;top:100px;color:#6059f6;font-size:40px;
		font-family: Roboto;">
			<b style="left:900px;top:80px;color:#6059f6;font-size:40px;
		font-family: Roboto;">VISION
	</b> 
	</p>
	<p style="position: absolute;top:180px;font-family: Roboto;
font-size: 15px; 
font-weight: 400; left:1000px;
line-height: 1.667;color:grey">
El CENTRO AUGUSTO MIJARES aspira ser reconocido, a nivel nacional, como una organización de excelencia, comprometida con el desarrollo sustentable de la comunidad.
</p>

<img src="icon.jpg" style="position:absolute;left:45%;top:65%" width="200" height="100" />

<p style="position: absolute;top:80%;left:44%;font-family: Roboto;font-size:40px;text-decoration: bold;"><b style="position: absolute;top:80%;left:44%;font-family: Roboto;font-size:40px;text-decoration: bold;"> VALORES </b></p>

<p style="position: absolute;top:93%;left:30%;font-family: Roboto;font-size: 15px;right:20%;
font-weight: 400;
line-height: 1.667;color:grey">
Dentro de nuestro pensamiento estratégico, los Valores son el verdadero poder: nos ayudan a aclarar nuestra Misión como organización y como personas; purifican e inspiran nuestra Visión y nos impulsan en cada actividad del desempeño organizacional.
Inspirados en el pensamiento del Profesor Augusto Mijares, asumimos como nuestros los ideales de Justicia, el Bien, la Belleza y la Verdad; y los valores de RESPONSABILIDAD SOCIAL, SOLIDARIDAD, CONSTANCIA, CORRESPONSABILIDAD, LIBERTAD, Y FRATERNIDAD.

 </p>








<!-- div style="position:absolute;top:750px;right:800px;left:8px;background-color:green" > 
	<a!-- h3 style="text-align:center;position:absolute;font-family: Roboto;"> RESPONSABILIDAD SOCIAL</h3 >

	<p style="position: absolute;top:40px;left:5%;right:40%;color:grey;background-color:#F5F5FB;font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 1.667;">
		<br />
		<br />
		<b style="color: black;position:absolute;left:30%;">RESPONSABILIDAD SOCIAL</b> <br />

		<br />

		<br />
		
Estimulamos una actitud madura, consciente y sensible a los problemas de nuestra sociedad, a la vez que adoptamos hábitos, formulamos estrategias y desarrollamos procesos que nos ayudan a minimiza


	</p>

</div -->

<div class="divFlex">
    <div class="first">
    	<h3 style="font-family: Roboto;position:absolute;left:80px"> RESPONSABILIDAD SOCIAL </h3>
    	<p style="font-family: Roboto;
    	position:absolute;
font-size: 15px;
font-weight: 400;
line-height: 1.667;color:grey;top:8%;padding-left:19px;padding-right:19px;">
    		Estimulamos una actitud madura, consciente y sensible a los problemas de nuestra sociedad, a la vez que adoptamos hábitos, formulamos estrategias y desarrollamos procesos que nos ayudan a minimizar los impactos negativos que podamos generar en el medio ambiente y en la sociedad.
    	 </p>

    <h3 style="font-family: Roboto;position:absolute;left:70px;top:50%"> CORRESPONSABILIDAD </h3>

    <p style="font-family: Roboto;position:absolute;top:60%;padding-left:29px;padding-right:29px;color:grey;font-size: 15px;
font-weight: 400;
line-height: 1.667;">Participamos conjuntamente con empresas, instituciones, organizaciones e individuos para impulsar iniciativas en pro del desarrollo humano y del desarrollo sustentable de la comunidad.
</p>



   </div>

</div>

   <div class="divFlex2">
	<div class="second">

		<h3 style="font-family: Roboto;position:absolute;left:80px"> FRATERNIDAD </h3>
    	<p style="font-family: Roboto;
    	position:absolute;
font-size: 15px;
font-weight: 400;
line-height: 1.667;color:grey;top:29%;padding-left:19px;padding-right:19px;">
    		Promovemos la unión, tolerancia y respeto a las diferencias entre los miembros que conforman una sociedad, conviviendo y actuando unidos en pos del bien común, y compartiendo sus experiencias de vida.
    	 </p>






	 </div>
	<div class="second"> 


		<h3 style="font-family: Roboto;position:absolute;left:80px"> SOLIDARIDAD </h3>
    	<p style="font-family: Roboto;
    	position:absolute;
font-size: 15px;
font-weight: 400;
line-height: 1.667;color:grey;top:29%;padding-left:19px;padding-right:19px;">
    		Actuamos desinteresadamente y con plena de alegría en favor de otras personas, teniendo en cuenta la utilidad y la necesidad del aporte para estas personas.
    	 </p>






	</div>

 </div>

<div class="divFlex3">
	<div class="second"> 

		<h3 style="font-family: Roboto;position:absolute;left:80px"> LIBERTAD </h3>
    	<p style="font-family: Roboto;
    	position:absolute;
font-size: 15px;
font-weight: 400;
line-height: 1.667;color:grey;top:29%;padding-left:19px;padding-right:19px;">
    		La asumimos como la capacidad de elegir responsablemente la dirección de nuestras vidas. Implica el conocer y diferenciar entre el bien y el mal y proceder de acuerdo a nuestra conciencia, creencias y aspiraciones.
    	 </p>



	</div>
	<div class="second"> 


		<h3 style="font-family: Roboto;position:absolute;left:80px"> CONSTANCIA </h3>
    	<p style="font-family: Roboto;
    	position:absolute;
font-size: 15px;
font-weight: 400;
line-height: 1.667;color:grey;top:9%;padding-left:19px;padding-right:19px;">
    		
Tenemos perseverancia y hacemos esfuerzo constante para alcanzar nuestros objetivos y metas. Comenzamos una y otra vez para corregir errores y superar obstáculos. Se asume lo dicho por Simón Bolívar en el Manifiesto de Cartagena: “(…) el valor, la habilidad y la constancia corrigen la mala fortuna” - Citado por Augusto Mijares en la obra El Libertador.
    	 </p>



	</div>

 </div>




  

  






</div>






    <!-- div id="footerId">
    	<p style="top:17px;position:relative;">this is a copyright by prof</p>
        <a href="https://www.facebook.com"  > <img src="fb.png" width="25" height="30" style="left:630px;top:7px;position:relative;" /></a>
        <a href="https://www.twitter.com"  > <img src="twitter.png" width="25" height="30" style="left:700px;top:7px;position:relative;" /></a>
      </div -->

      <div class="footer">
        Copyright ©2020 All rights reserved | This template is made with
        ❤ by <a href="#" style="color:blue">DiazApps</a>
        <img src="links.jpeg" alt="" style="position:absolute;left:70%" />
    </div>
	

</body>
</html> 